.container {
  display: flex;
  flex-direction: column;
}

.container__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  background: #1b1f23;
  height: 60px;
  border: 1px solid rgb(140 140 140/0.25);
}

.header__title {
  color: white;
  letter-spacing: 3px;
}

.container__main {
  display: grid;
  width: 600px;
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 20px;
  row-gap: 24px;

  @media (min-width: 768px) {
    padding: 100px 40px;
  }

  @media (min-width: 1200px) {
    padding: 120px 50px;
  }
}
